@charset "UTF-8";

/* 
Paleta de Cores

Azul claro : #415FD5
Lilás : #7D3BD5
Azul : #2450FF

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #7D3BD5;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden
    ;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);

    transition: width .3s, height .5s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    background: #7D3BD5 url(../imagens/pexels-sevenstorm-juhaszimrus-443383.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  right bottom;
}

div#formulario {
    display: block;
    padding: 10px;
}